nav.navbar.navbar-expand-lgnavbar-light.bg-light
    .container-fluid
        a.navbar-brand.text-dark(href="/") To-Do App 
        ul.nav
            li.nav-item
                a.nav-link.text-secondary(href="/") All Notes
            li.nav-item
                a.btn.btn-success(href="/tasks/new") Create 
        