nav.navbar.navbar-expand-lgnavbar-light.bg-light
    .container-fluid
        a.navbar-brand.text-dark(href="/") To-Do App 
        ul.nav
            li.nav-item
                a.btn.btn-primary.mx-2(href="/") All Tasks
            li.nav-item
                a.btn.btn-success(href="/tasks/new") Create 
        