extends layout.pug

block content
    form(action="/create", method="POST")
        .form-group.my-3
            label(for="title") Title
            input.form-control#title(type="text" name="title")
            if empty_title_error 
                p.titleError.text-danger #{ empty_title_error }
        .form-group 
            label(for="comment") Comment
            textarea.form-control#comment(type="text" name="comment" cols="30" rows="7")
        .form-group.my-3
            label(for="time") Time
            input.form-control#time(type="time" name="time")
            if empty_time_error
                p.timeError.text-danger #{ empty_time_error }
        button.btn.btn-success.my-3 Create Task

        

        