extends layout.pug

block content
    .container
        if (tasks.length)
            ul.list-group
                li.list-group-item.list-group-item-action.active.h2.d-flex.justify-content-between
                    span All To-Do tasks
                    .dropdown
                        button.btn.dropdown-toggle#dropdownMenuBtn.text-white(type="button" data-bs-toggle="dropdown" aria-expanded="false") Status
                        ul.dropdown-menu(aria-labelledby="dropdownMenuBtn")
                            li 
                                a.dropdown-item(href='/') All 
                            li 
                                a.dropdown-item(href='/?done=true') Done 
                            li 
                                a.dropdown-item(href='/?done=false') Undone 
                each task in tasks
                    li.list-group-item.list-group-item-action
                        a.text-dark.text-decoration-none.font-weight-light(href='tasks/retrieve/' + task.id)= task.title

        else 
            p.alert.alert-warning No tasks available 
            a.btn.btn-success(href="tasks/new") Create New Task
    
    footer.footer 
        p.text-danger.footer-text.ms-3 This web application was created to fulfill Web Technology module's requirements and does not represent an actual company or service
