extends layout.pug

block content

    p.intro-text List of all the To-Do tasks

    if (tasks.length)
        ul
            each task in tasks
                a(href='/retrieve/' + task.id)= task.title
    else 
        p Doesnt exist
