extends layout.pug

block content
    form(action=`/update/${task.id}`, method="POST")
        .form-group.my-3
            label(for="title") Title
            input.form-control#title(type="text" name="title" value= task.title)
            if empty_title_error 
                p.titleError.text-danger #{ empty_title_error }
        .form-group 
            label(for="comment") Comment
            textarea.form-control#comment(type="text" name="comment" cols="30" rows="7")= task.comment
        .form-group.my-3
            label(for="time") Time
            input.form-control#time(type="time" name="time" value= task.time)
            if empty_time_error
                p.timeError.text-danger #{ empty_time_error }
        .form-group
            label.mx-2(for="done") Done
            input#done(type="checkbox", name="done")
        button.btn.btn-success.my-3 Update Task
    
    
